#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    background-image: url("https://img.freepik.com/premium-photo/there-are-two-blank-notes-pinned-wooden-frame-surrounded-by-autumn-leaves_1034560-106170.jpg?ga=GA1.1.1260258448.1741171183&semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 0;
  }
  
  /* Make sure your actual content is above the overlay */
  body > * {
    position: relative;
    z-index: 1;
  }

#root {
    font-family: 'Poppins', sans-serif;
}


.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

